<div class="d-flex flex-wrap">
    <div class="pl-order-blocks-container">
        <div class="card-header pl-order-blocks-header list-group-item-primary">
            <span class="me-2">Drag from here</span>
        </div>
        <ul class="card-body list-group pl-order-blocks-connected-sortable">
            <li class="list-group-item order shadow pl-order-block">
                Random Block 1
            </li>
            <li class="list-group-item order shadow pl-order-block">
                Random Block 2
            </li>
            <li class="list-group-item order shadow pl-order-block">
                Random Block 3
            </li>
        </ul>
    </div>
    <div class="pl-order-blocks-container list-group-item pl-order-blocks-right">
    <div class="card-header pl-order-blocks-header list-group-item-primary">
        <span class="me-2">Construct your solution here</span>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4">
            <ul class="card-body list-group pl-order-blocks-connected-sortable dropzone">
                <li class="list-group-item order shadow pl-order-block">
                    Random Block 1
                </li>
                <li class="list-group-item order shadow pl-order-block">
                    Random Block 2
                </li>
                <li class="list-group-item order shadow pl-order-block">
                    Random Block 3
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-4">
            <ul class="card-body list-group pl-order-blocks-connected-sortable dropzone">
                <li class="list-group-item order shadow pl-order-block">
                    Random Block 5
                </li>
                <li class="list-group-item order shadow pl-order-block">
                    Random Block 6
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-4">
            <ul class="card-body list-group pl-order-blocks-connected-sortable dropzone">
                <li class="list-group-item order shadow pl-order-block">
                    Random Block 7
                </li>
                <li class="list-group-item order shadow pl-order-block">
                    Random Block 8
                </li>
                <li class="list-group-item order shadow pl-order-block">
                    Random Block 9
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
