<head>
  <link rel="stylesheet" href="pl-grid.css">
</head>
<div class="example-course-custom-element">
  <p class="big example-shared-style">I am a custom element! Here is a random number: {{number}}</p>
  <p> Choices: </p>
  <div class="grid-stack" id="grid1"></div>
  <br>
  <p> Answer Submission: </p>
  <div class="grid-stack" id="grid2"></div>
</div>